body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    min-height: 150vh; 
    background-color: blue;
    margin: 0; 
}

.header {
    background-color: rgba(24, 22, 22, 0.815);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 40px;
}

.calc {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 8px 8px 0px rgba(1, 8, 46, 0.493);
}

.input-group input {
    display: block;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 12px);
    border: 0.1px solid rgba(0, 0, 0, 0.815);
}

button {
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: darkblue;
    border: none;
}

.resultado {
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
}